*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 5.3rem 1.6rem;
  font-size: 1.6rem;
  line-height: 1.3333;
  font-family: 'Work Sans', sans-serif;
  background: #E5E5E5;
}

.hidden {
  display: none;
}