//colors
$color-white: #FFF;
$color-txt: #2F2F30;
$color-txt-hint: #6C6D6F;
$color-txt-green: #00A651;
$color-link: #6665DD;
$color-border: #DBDCDE;
$color-dark-border: #A9ABAE;
$color-bg-footer: #FAFAFA;
$color-bg-actions: #FFFBEC;
$color-bg-cta: #2EB670;