.form-grid {

  &__line {
    display: flex;
    margin-bottom: 2.4rem;

    @include media-max(452px) {
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--range + &--range {
      margin-top: -2.4rem;
    }
  }

  &__label {
    width: 15.2rem;
    margin-right: 1.6rem;
    text-align: right;
    align-self: center;
    flex-shrink: 0;

    @include media-max(980px) {
      width: 12.5rem;
    }

    @include media-max(452px) {
      width: 100%;
      text-align: left;
      margin-right: 0;
      margin-bottom: 1.2rem;
    }

    &--multiple {
      align-self: baseline;
      display: flex;
      flex-direction: column;
    }

    &--range {

      & label {
        display: block;
        margin-top: 1.2rem;
        margin-bottom: 1.6rem;

        @include media-max(980px) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  &__content {
    display: flex;
    width: 29.6rem;

    &--multiple {
      display: flex;
      flex-direction: column;
    }

    &--range {

      & .form-control--range {
        margin-top: 1.2rem;
        margin-bottom: 1.6rem;

        @include media-max(980px) {
          margin-bottom: 0;
        }
      }
    }

    &--auto-width {
      width: auto;
    }
  }
}