.form-grid {
  display: grid;
  grid-template-columns: 15.2rem auto;
  grid-gap: 2.4rem 1.6rem;

  &__line {
    display: flex;
  }

  &__label {
    text-align: right;
    align-self: center;

    &--multiple {
      align-self: baseline;
    }
  }

  &__content {

    &--multiple {
      display: flex;
      flex-direction: column;
    }
  }
}