.form-control {
  display: inline-block;

  &--search {

  }

  &--donation-search {
    margin-right: 3.2rem;
  }

  &--range {
    display: inline-flex;
    align-items: center;
  }

  &--fw {
    width: 100%;
  }

  &--mr {
    margin-right: 2.4rem;
  }

  &__text {
    padding: 0.72rem 1.2rem;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-txt;
    border: 1px solid $color-dark-border;
    border-radius: 0.8rem;
    background: $color-white;

    &::placeholder {
      font-size: 1.6rem;
      color: $color-txt-hint;
      opacity: 1;
    }

    &--small {
      width: 19.2rem;
    }

    &--search {
      padding-left: 4.1rem;
      background: $color-white url("/assets/images/search 3.svg") 1.85rem/1.85rem no-repeat;
      background-position: 1.6rem center;
    }

    &--light-border {
      border-color: $color-border;
    }
  }

  &__tr-select {
    font-size: 1.6rem;
    border: none;
    border-radius: 0;
    background: transparent;
  }

  &__select {
    padding: 0.965rem 0.9rem;
    font-size: 1.6rem;
    line-height: 2.4rem;

    &--fw {
      width: 100%;
    }

    &--extra-sm {
      width: 8rem;
    }
  }

  &__radio {
    display: none;

    &:checked + .form-control__radio-label {

      &::before {
        border: 2px solid $color-bg-cta;
      }

      &::after {
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        content: '';
        width: 1.2rem;
        height: 1.2rem;
        transform: translate(0.7rem, -50%);
        border-radius: 50%;
        background: $color-bg-cta;
      }
    }
  }

  &__radio-label {
    position: relative;
    padding-left: 3.6rem;

    &::before {
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      transform: translateY(-50%);
      border: 1px solid $color-dark-border;
      border-radius: 50%;
      background: $color-white;
    }
  }

  &__range {
    width: 21.8rem;
  }

  &__range-label {
    margin-left: 1.2rem;
  }

  &__checkbox {
    display: none;

    &:checked + .form-control__checkbox-label {

      &::before {
        background: $color-white url("/assets/images/On.svg") center no-repeat;
      }
    }
  }

  &__checkbox-label {
    position: relative;
    padding-left: 3.6rem;

    &::before {
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      transform: translateY(-50%);
      background: $color-white url("/assets/images/Off.svg") center no-repeat;
    }
  }
}

.radio-group {
  margin-bottom: 2.4rem;
  padding: 0;
  border: 0;

  &__item {
    display: block;
    margin-bottom: 1.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.legend {
  display: none;
}