.l-item {
  margin-right: 3.0rem;
  margin-bottom: 1.5rem;
  padding: 0 3.4rem 0 0;
  border-right: 1px solid $color-border;

  @include media-max(980px) {
    margin-right: 1.8rem;
    padding: 0 1.8rem 0 0;
    border-right: 1px solid $color-border;
  }

  @include media-max(452px) {
    margin-right: 0;
    margin-bottom: 1.2rem;
    padding: 0;
    border-right: none;
  }

  &:last-child {
    border-right: none;
    margin-right: 0;
  }

  &__label {
    font-size: 1.4rem;
    line-height: 1.43;
    color: $color-txt-hint;
    margin-bottom: 0.2rem;
  }

  &__content {

  }
}