.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    border-bottom: 1px solid $color-border;

    &:hover {
      background-color: $color-hover-bg;

      & .menu__link {
        color: $color-txt;
      }
    }

    &:first-child .menu__link {
      border-radius: 0.8rem 0.8rem 0 0;
    }

    &:last-child {
      border-bottom: none;

      & .menu__link {
        border-radius: 0 0 0.8rem 0.8rem;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.6rem;
    color: $color-txt;
    text-decoration: none;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px $color-link;
    }
  }

  &__icon {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.8rem;
    background-repeat: no-repeat;
    background-position: center/cover;

    &--change {
      background-image: url("/assets/images/menu-icons/repeat.svg");
    }

    &--date {
      background-image: url("/assets/images/menu-icons/calendar.svg");
    }

    &--payment {
      background-image: url("/assets/images/menu-icons/wallet.svg");
    }

    &--cancel {
      background-image: url("/assets/images/menu-icons/x-circle.svg");
    }
  }

  &__label {
    line-height: 1.75;
  }
}